<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeenny.springcloud.mapper.UserAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeenny.springcloud.model.entity.UserAuth">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="auth_type" property="authType" />
        <result column="indentifier" property="indentifier" />
        <result column="credential" property="credential" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, auth_type, indentifier, credential
    </sql>

</mapper>
